.banner {
    background-color: blueviolet;
    height: 100px;
}

.page-title {
    text-decoration-color: white;
    font-size: 3rem;
}

.project-info {
    background-color: rgb(216, 175, 255);
    padding: 15px;
    margin: 10px;
    font-size: 1.5rem;
    text-indent: 50px;
    width: 90%;
}

.buttons-img {
    padding: 15px;
    margin: 10px;
    font-size: 1.5rem;
    width: 90%;
}
.button {
    background: rgb(216, 175, 255);
}
