.banner {
    background-color: blueviolet;
    height: 70px;
}

.page-title {
    text-decoration-color: white;
}

.project-info {
    background-color: rgb(216, 175, 255);
    padding: 15px;
    margin: 10px;
    font-size: x-large;
    text-indent: 50px;
    width: 90%;
}

.buttons-img {
    padding: 15px;
    margin: 10px;
    font-size: x-large;
    width: 90%;
}
